.firstScreen {
  width: 100vw;
  height: 100vh;
  background-color: #fffc00;
  display: flex;
  justify-content: center;
  position: relative;

  .logo {
    position: absolute;
    width: 20%;
    object-fit: contain;
    top: 20%;
  }

  .buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (width<768px) {
  .firstScreen {
    .logo {
      width: 25%;
    }
  }
}

@media screen and (width<600px) {
  .firstScreen {
    .logo {
      width: 30%;
    }
  }
}

@media screen and (width<480px) {
  .firstScreen {
    .logo {
      width: 35%;
    }
  }
}
