.login_c {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;

  .heading {
    position: absolute;
    top: 15%;
  }

  .info {
    width: 80%;
    color: #c8c8c8;
    text-align: center;
    position: absolute;
    top: 20%;
  }

  .userInput {
    width: 320px;
    position: absolute;
    top: 30%;

    h6 {
      color: #c8c8c8;
      font-family: "Figtree", sans-serif;
      font-size: 10px;
      font-weight: 500;
    }

    .otpInput {
      width: 100%;
      justify-content: space-between;
      margin-top: 5%;
    }

    .otpInputSingle {
      font-size: 1.5rem;
      border: 2px solid #c8c8c8;
      outline: none;
    }
  }

  .resendCode {
    position: absolute;
    top: 43%;
    font-family: "Figtree", sans-serif;
    color: #74d4fe;
    cursor: pointer;
  }

  .login_cButton {
    color: white;
    font-weight: 600;
    font-family: "Figtree", sans-serif;
    position: absolute;
    bottom: 10%;
    text-transform: capitalize;
    font-size: 13px;
    width: 170px;
    border-radius: 50px;
  }
}

@media screen and (width<768px) {
  .login_c {
    .userInput {
      width: 280px;
    }
  }
}

@media screen and (width<400px) {
  .login_c {
    .userInput {
      width: 230px;
    }
  }
}
