.preview {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  z-index: 3;

  .snapPreviewImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .recaptureButton {
    font-size: 45px;
    position: absolute;
    color: black;
    cursor: pointer;
    top: 2%;
    right: 4%;
    z-index: 4;
    background-color: #fffc00;
    border-radius: 30%;
  }

  .sendSnapButton {
    position: absolute;
    background-color: #fffc00;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    bottom: 2.5%;
    right: 4%;
    border-radius: 30px;
    padding: 7px;
    cursor: pointer;
    z-index: 4;

    h2 {
      font-size: 15px;
    }

    .sendIcon {
      margin-left: 5px;
      font-size: 20px;
    }
  }
}
