.signUp4 {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;

  .heading {
    position: absolute;
    top: 15%;
  }

  .info {
    width: 80%;
    color: #c8c8c8;
    text-align: center;
    position: absolute;
    top: 20%;
  }

  .userInput {
    width: 75%;
    position: absolute;
    top: 30%;

    h6 {
      color: #c8c8c8;
      font-size: 10px;
      font-weight: 500;
    }

    input {
      color: black;
      width: 100%;
      border-width: 0 0 1px 0;
      border-color: #c8c8c8;
      outline: none;
      font-size: 18px;
      margin: 5px 0 10px 0;
      padding: 0;
    }
  }

  .signUp4Button {
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 4%;
    text-transform: capitalize;
    font-size: 13px;
    width: 55%;
    border-radius: 50px;
  }
}
