.snapsListItem {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  z-index: 3;

  .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .avatar_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .snapInfo {
    height: 100%;
    flex: 1;
    margin-left: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
      color: grey;
    }
  }

  .readDot {
    color: #ed3b55;
  }
}

.seperator {
  margin: 0 15px;
  height: 1px;
  background-color: lightgray;
}
