.snap {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 3;

  .animationDiv {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .snapImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .countdownTimer {
    position: absolute;
    top: 4%;
    right: 5%;
    z-index: 4;
  }
}
