.uploadDetails {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;

  .profilePic {
    width: 250px;
    aspect-ratio: 1;
    object-fit: contain;
    position: absolute;
    top: 10%;
    border-radius: 50%;
  }

  .file {
    display: block;
    width: 170px;
    height: 5%;
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    position: absolute;
    top: 50%;

    p {
      padding-left: 10%;
      padding-right: 10%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .file:hover {
    outline: 1px solid lightskyblue;
  }

  .upload {
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 10%;
    text-transform: capitalize;
    font-size: 13px;
    width: 170px;
    border-radius: 50px;
  }

  .progressBar {
    position: absolute;
    top: 70%;
    width: 50%;
  }
}

@media screen and (width<450px) {
  .uploadDetails {
    .profilePic {
      width: 200px;
    }
  }
}
